@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/breakpoints.scss';

.service__header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: space(64);
  color: $white;
  background-image: url('../../assets/images/backgrounds/activity-header-shape-lg.svg');

  @include for-phone-only {
    padding: space(32) space(24) 0 space(24);
    background-image: url('../../assets/images/backgrounds/service-header-shape-mobile.svg');
  }

  h1 {
    margin-bottom: space(20);
  }

  button {
    @include body-s;
    background-color: inherit;
    border: 2px solid $white;
    font-family: $font-primary;
    font-weight: normal;
    margin-left: space(12);

    @include for-phone-only {
      visibility: hidden;
    }
  }

  @include for-tablet-landscape-up {
    &:after {
      content: url('../../assets/images/trees/iceberg-small.svg');
      position: absolute;
      top: 0px;
      right: 32%;
    }
  }
}

.service__section {
  margin-top: space(12);
  margin-bottom: space(32);
  width: 100%;

  .criteria_card:nth-of-type(odd) {
    background-color: $alabaster;
  }
}

.service__header__logo {
  position: absolute;
  top: pxtorem(16px);
  right: 10%;
  background-size: 100% 100%;
  padding: space(20);

  @include for-phone-only {
    right: 0;
  }

  @include for-tablet-landscape-up {
    background-image: url('../../assets/images/backgrounds/service-logo-background.svg');
  }

  img {
    height: pxtorem(175px);

    @include for-phone-only {
      height: pxtorem(50px);
      border-radius: 50%;
    }
  }

  @include for-tablet-landscape-up {
    &:before {
      content: url('../../assets/images/trees/iceberg-lg.svg');
      position: absolute;
      bottom: -15px;
      right: -60px;
    }

    &:after {
      content: url('../../assets/images/trees/peurto-small.svg');
      position: absolute;
      bottom: -15px;
      right: -105px;
    }
  }
}

.service__header__last-updated {
  @include body-s;

  span {
    font-family: $font-secondary;
    margin-left: space(8);
  }
}

.service__info {
  padding-top: space(16) !important;
  color: $san-juan;

  @include for-phone-only {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @include for-desktop-up {
    padding: space(88) space(96) !important;
  }

  p {
    font-size: pxtorem(18px);
  }
}

.service__info--left {
  width: 60%;
}

.service__info--right {
  width: 40%;
}

.service__info__cost {
  background-color: $iceberg !important;
}

.service__info__cost--header {
  font-family: $font-secondary;
}

.service__info__cost--sub-heading {
  color: $waikawa;
}

.service__info__cost--icon {
  color: $puerto-rico;
  font-size: 36px;
}

.service__info__cost--left {
  text-align: center;
}

.service__info__cost--right {
  margin-left: space(32);
  color: $san-juan;
}

.react-player__preview {
  border-radius: 19px;
}

.service__referral {
  background-color: $pink;
  padding: space(32) !important;
}

.service__refer-disclaimer {
  padding: space(16) 0;

  svg {
    color: $waikawa;
  }
}

.service__markdown {
  p {
    margin-bottom: space(16);
  }

  a {
    color: $elm;
    font-size: inherit;
  }
}

.service__accordian {
  padding: space(24);
  width: 100%;

  button {
    text-align: left;

    h4 {
      display: inline;
    }
  }

  &:nth-of-type(odd) {
    background-color: $alabaster;

    .service__accordian-inner {
      background-color: $white;
      border-radius: 16px;
    }
  }

  &:nth-of-type(even) {
    .service__accordian-inner {
      background-color: $alabaster;
      border-radius: 16px;
    }
  }

  &--no-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.service__button-container {
  padding: space(24) !important;
}

.service__related-services {
  background-image: url('../../assets/images/backgrounds/related-services-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.service__accordian-inner {
  font-size: $font-body-m;
  padding: space(16) !important;

  a {
    font-size: $font-body-m;
  }
}

.service__social-icon {
  margin: space(12);
}

.service__social-icon-container {
  text-align: center;
}

.service__testimonial {
  background-image: url('../../assets/images/backgrounds/service-quote-shape.svg');
  background-size: 100% 100%;
  padding: space(8);
}
