@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/breakpoints.scss';

.service__header {
  position: relative;
  background-color: $bermuda;
  padding: space(48) 0;

  .flex-container {
    max-width: 1260px;

    @include for-tablet-landscape-down {
      padding: 0 !important;
    }
  }

  // &--activity {
  //   background-image: url('../../assets/images/backgrounds/activity-header-shape-lg.svg');

  //   @include for-tablet-portrait-down {
  //     background-image: url('../../assets/images/backgrounds/activity-header-shape-mobile.svg');
  //   }
  // }

  // &--club {
  //   background-image: url('../../assets/images/backgrounds/club-header-shape-lg.svg');

  //   @include for-tablet-portrait-down {
  //     background-image: url('../../assets/images/backgrounds/club-header-shape-mobile.svg');
  //   }
  // }

  // &--group {
  //   background-image: url('../../assets/images/backgrounds/group-header-shape-lg.svg');

  //   @include for-tablet-portrait-down {
  //     background-image: url('../../assets/images/backgrounds/group-header-shape-mobile.svg');
  //   }
  // }

  // &--service {
  //   background-image: url('../../assets/images/backgrounds/service-header-shape-lg.svg');

  //   @include for-tablet-portrait-down {
  //     background-image: url('../../assets/images/backgrounds/service-header-shape-mobile.svg');
  //   }
  //   &:after {
  //     content: '' !important;
  //   }
  // }

  @include for-phone-only {
    padding: space(32) space(24) 0 space(24) !important;
  }

  @include for-tablet-portrait-down {
    padding: space(32) space(24);
  }

  h1 {
    margin-bottom: space(20);
  }

  button {
    @include body-s;
    background-color: inherit;
    font-family: $font-primary;
    font-weight: normal;
    padding: 4px space(12);
    margin-top: space(12);

    @include for-phone-only {
      visibility: hidden;
    }
  }
}

.service__section {
  margin-top: space(12);
  margin-bottom: space(32) !important;
  width: 100%;
  align-items: stretch;

  .criteria_card:nth-of-type(odd) {
    background-color: $mercury;
  }

  &--no-padding {
    @include for-tablet-portrait-up {
      padding: 0 !important;
    }
  }

  &--no-margin {
    margin-bottom: 0 !important;
  }
}

.service__header__logo {
  background-color: $white;

  @include for-phone-only {
    right: 0;
  }

  img {
    height: pxtorem(175px);
    width: pxtorem(175px);
    object-fit: contain;

    @include for-tablet-portrait-down {
      height: pxtorem(50px);
      width: pxtorem(50px);
    }
  }
}

.service__header__last-updated {
  @include body-s;

  span {
    font-family: $font-primary;
    margin-left: space(8);
  }
}

.service__info {
  padding-top: space(32) !important;
  color: $black;
  max-width: 1260px;

  @include for-phone-only {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  p {
    font-size: pxtorem(18px);
  }
}

.service__info--left {
  width: 60%;
}

.service__info--right {
  width: 40%;
}

.service__info__cost {
  background-color: $bright-sun !important;

  @include for-tablet-landscape-up {
    padding: space(12);
  }
}

.service__info__cost--icon {
  font-size: 36px;
}

.service__info__cost--left {
  text-align: center;
}

.service__info__cost--right {
  margin-left: space(32);
}

.react-player__preview {
  background-color: $mercury;
}

.react-player__shadow {
  background-color: $brink-pink !important;
}

.service__referral {
  background-color: $bright-sun;
  padding: space(32) !important;
  position: relative;

  @include for-tablet-landscape-down {
    padding: space(32) space(16) !important;
  }

  &--desktop {
    margin-top: space(40);
  }
}

.service__refer-disclaimer {
  padding-top: space(16) !important;

  p {
    text-align: left;
    padding-left: space(8);
  }

  @include for-tablet-portrait-down {
    text-align: center;
  }
}

.service__markdown {
  &--intro {
    p {
      @include body-l;
      margin-bottom: space(40);

      @include for-phone-only {
        margin-bottom: space(16);
      }
    }
  }

  &--description {
    word-break: break-word;

    p {
      @include body-m;
      margin: space(24) 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    ul {
      list-style-type: none;
    }

    ul li {
      &:before {
        content: '•';
        margin: 0 pxtorem(4px);
        color: $brink-pink;
      }
    }

    li > p {
      display: inline;
      hyphens: auto;
    }

    li {
      font-family: $font-primary;
    }

    &--tight {
      @include for-tablet-portrait-up {
        p {
          &:first-of-type {
            margin-top: space(24);
          }
        }
      }
    }
  }

  a {
    font-size: inherit;
  }
}

.service__accordian {
  padding: space(24) space(12);
  width: 100%;

  svg {
    font-size: pxtorem(18px);
  }

  button {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;

    h3 {
      display: inline;
    }
  }

  &:nth-of-type(odd) {
    background-color: $mercury;

    .service__accordian-inner {
      background-color: $white;
    }
  }

  &:nth-of-type(even) {
    .service__accordian-inner {
      background-color: $mercury;
    }
  }

  &--no-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.service__button-container {
  padding: space(32) 0 space(24) !important;

  @include for-tablet-landscape-down {
    padding: space(32) space(16) space(24) !important;

    svg {
      display: none;
    }
  }

  @include for-phone-only {
    justify-content: space-evenly !important;
  }

  &--mobile {
    padding-right: space(16);

    @include for-phone-only {
      margin-bottom: space(16) !important;
      text-align: center;
    }
  }

  .button {
    width: 100%;
  }
}

.service__accordian-inner {
  font-size: $font-body-m;
  padding: space(16) !important;

  a {
    font-size: $font-body-m;
  }
}

.service__social-icon {
  margin: 0 space(12);
}

.service__social-icon-container {
  text-align: center;
}

.service__testimonial {
  background-image: url('../../assets/images/backgrounds/service-quote-shape.svg');
  background-size: 100% 100%;
  padding: space(8);

  &--mobile {
    background-image: none;
    background-color: $white;
    border: 1px solid $black;
    padding: space(16) space(24) space(24) !important;

    svg {
      width: auto !important;
      font-size: pxtorem(36px) !important;
    }
  }

  p {
    font-family: $font-primary;
    font-size: pxtorem(30px);
    line-height: pxtorem(32px);
    padding: space(8);
  }

  svg {
    font-size: pxtorem(46px);
    width: auto !important;
    padding-right: space(10);

    @include for-tablet-landscape-down {
      padding-right: space(16);
    }
  }

  @include for-tablet-landscape-up {
    padding: space(32);
  }

  &--header {
    margin-top: space(32);
  }
}

.service__criteria {
  padding: 0 !important;
}

.service__media {
  margin: 0 !important;
}

.service__useful-info {
  margin-bottom: space(16) !important;
  justify-content: space-evenly !important;

  @include for-tablet-portrait-up {
    background-color: $mercury;
  }

  p {
    margin-top: space(12);
  }

  a {
    font-size: $font-base;
    color: $gray;
  }

  svg {
    @include for-tablet-landscape-up {
      font-size: pxtorem(36px);
      float: right;
    }
  }
}

.service__organisation {
  text-align: center;

  &--logo {
    margin-bottom: space(12) !important;
  }

  &--sidebar {
    background-color: $mercury;
    padding: space(20) !important;
  }
}

.service__right-column {
  padding: 0 !important;
}

.service__left-column {
  @include for-tablet-landscape-up {
    padding-right: space(64) !important;
  }
}

.service__cost-card {
  width: 100%;

  @include for-tablet-landscape-up {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.service__video {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

.service__contact-card {
  padding: space(24) !important;
  background-color: $mercury;

  .flex-col {
    margin-bottom: space(24);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--accordian {
    h3 {
      margin-bottom: space(8);
    }

    .service__social-icon-container {
      padding-bottom: 0;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h3 {
    margin-bottom: space(8);
  }

  &--row {
    svg {
      margin-right: space(8);
      color: $black;
    }
  }
}

.service__share-card {
  padding: space(20);
  background-color: $mercury;
  text-align: center;

  h3 {
    display: inline;
    margin-right: space(16);
    font-weight: 900;
  }

  a {
    margin: 0 space(8);
  }
}

.criteria_card--inner {
  width: 100%;

  @include for-tablet-landscape-up {
    padding: 0 !important;
  }
}

.service__information {
  @include for-tablet-landscape-up {
    background: $mercury;
    padding: space(32) !important;
  }

  @include for-phone-only {
    h3 {
      font-size: $font-body-l;
    }
  }
}

.service__offerings {
  display: flex;
  align-items: center;
  margin-top: space(24);
  margin-bottom: space(16) !important;
  font-family: $font-primary;

  @include for-phone-only {
    margin-top: space(8);
    margin-bottom: 0 !important;
  }

  ul li {
    margin-bottom: space(12);
    @include body-m;
  }
}

.service__heading {
  margin-bottom: space(32);

  @include for-phone-only {
    font-size: $font-body-l !important;
  }
}

.service__gallery {
  padding: 0 !important;
  width: 100%;
  margin: 0 !important;
}

.criteria-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: space(16);

  @include for-tablet-portrait-down {
    grid-template-columns: repeat(1, 1fr);
    gap: space(8);
    margin-top: 0;
  }
}