@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.search-result-card {
  border: 2px solid $san-juan;
  border-radius: 10px;
  color: $san-juan;
  margin: space(8);
  height: max-content;

  @include for-tablet-landscape-up {
    width: 30%;
  }

  @include for-phone-only {
    width: 100%;
  }
}

.search-result-card--full-width {
  width: 100%;
  margin: 0;
}

.search-result-card__title {
  flex: 1;
  padding-right: space(16);
}

.search-result-card__organisation {
  @include body-xs;
  color: $waikawa;

  @include for-phone-only {
    margin: space(8) 0 space(16) 0;
  }
}

.search-result-card__logo {
  width: pxtorem(65px);
  border: 1px solid $nobel;
  border-radius: 9px;
}

.search-result-card__top-row {
  display: flex;
  padding: space(24) space(16) space(16) space(24);

  @include for-phone-only {
    padding: space(16) space(8) space(16) space(16);
  }
}

.search-result-card__tag {
  @include body-m;
  padding: space(8);
  color: $white;
  width: fit-content;
  border-radius: 4px;
  margin: space(16) 0;

  @include for-phone-only {
    margin: 0 0 space(16);
  }
}

.search-result-card__tag--activity {
  background-color: $cranberry;
}

.search-result-card__tag--service {
  background-color: $san-juan;
}

.search-result-card__tag--group {
  background-color: $elm;
}

.search-result-card__tag--icon {
  margin-right: pxtorem(4px);
}

.search-result-card__tag--cost {
  margin: 0 pxtorem(4px);
  vertical-align: middle;
}

.search-result-card__tag--cost--free {
  @include fontSize(7px);
}

.search-result-card__location {
  color: $elm;

  p {
    @include link-medium;
    margin-left: space(8);
  }
}

.search-result-card__location-list {
  margin-left: space(8);

  button {
    @include link-medium;
    border: none;
  }
}

.search-result-card__intro {
  color: $lynch;
  padding: 0 space(24) space(24);

  @include for-phone-only {
    padding: 0 space(8) space(16) space(16);
  }
}

.search-result-card__footer {
  background-color: $san-juan;
  padding: space(16);
  color: $white;
  text-align: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  a {
    font-size: $font-body-m;
    text-decoration: none;
  }

  svg {
    margin-left: space(8);
  }
}
