@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.search-result-card {
  background-color: $white;
  border: 2px solid $black;
  color: $black;
  margin: space(8);
  height: max-content;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
  }

  @include for-tablet-landscape-up {
    width: 30%;
    margin-bottom: space(16);
  }

  @include for-phone-only {
    width: 100%;
  }
}

.search-result-card--full-width {
  width: 100%;
  margin: 0;
}

.search-result-card__title {
  flex: 1;
  padding-right: space(16);
}

.search-result-card__organisation {
  @include heading-s-light;
  font-weight: normal;
  color: $waikawa;
  margin-top: space(8);

  @include for-phone-only {
    margin: space(8) 0 space(16) 0;
  }
}

.search-result-card__logo {
  width: pxtorem(65px);
  height: pxtorem(65px);
  border: 1px solid $nobel;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
}

.search-result-card__top-row {
  display: flex;
  padding: space(24) space(16) space(16) space(24);

  @include for-phone-only {
    padding: space(16) space(8) space(16) space(16);
  }
}

.search-result-card__tag {
  @include body-xs;
  padding: space(8);
  color: $white;
  width: max-content;
  margin: space(16) 0;

  @include for-phone-only {
    margin: 0 0 space(16);
  }
}

.search-result-card__tag--activity {
  background-color: $cranberry;
}

.search-result-card__tag--club {
  background-color: $club-blue;
}

.search-result-card__tag--service {
  background-color: $black;
}

.search-result-card__tag--group {
  background-color: $elm;
}

.search-result-card__tag--icon {
  margin-right: pxtorem(4px);
}

.search-result-card__tag--cost {
  margin: 0 pxtorem(4px);
  vertical-align: middle;
}

.search-result-card__tag--cost--free {
  @include fontSize(7px);
}

.search-result-card__location {
  color: $elm;
  display: flex;

  h4 {
    margin-left: space(8);
    font-size: $font-base;
  }
}

.search-result-card__location-list {
  margin-left: space(8);

  button {
    cursor: pointer;
    @include link-medium;
    border: none;
    background: none;
  }

  h4 {
    display: inline;
    margin-left: 0;
    font-size: $font-base;
  }
}

.search-result-card__intro {
  color: $lynch;
  padding: 0 space(24) space(24);

  @include for-phone-only {
    padding: 0 space(8) space(16) space(16);
  }
}

.search-result-card__footer {
  background-color: $black;
  padding: space(16);
  color: $white;
  text-align: center;

  a {
    font-size: $font-body-m;
    text-decoration: none;
  }

  svg {
    margin-left: space(8);
  }
}
