@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/breakpoints.scss';

.related-services {
  background-color: $mercury;
  font-family: $font-primary;
  padding: space(48) 0;
  text-align: center;
  color: $black;

  @include for-tablet-landscape-down {
    padding: space(64) space(24);
  }

  &--button {
    margin: space(24) 0;
  }

  button.button__alt {
    background-color: inherit !important;
  }

  &--logo {
    width: pxtorem(60px);
    height: pxtorem(60px);
    border: 1px solid $nobel;
    background-color: $white;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    img {
      width: 100%;
    }
  }

  &--container {
    align-items: flex-start;
    margin-top: space(48) !important;
  }

  &--card {
    width: 32.5%;
    padding: space(24) !important;
    background-color: $white;
    text-align: left;

    @include for-tablet-portrait-down {
      padding: sapce(24) space(16) !important;
    }

    &--no-padding {
      padding: 0 !important;
    }

    &--info {
      margin: space(12) 0 !important;
      color: $mid-grey;
      font-size: $font-body-xs;
      line-height: 17px;
    }
  }
}
