@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

.input {
  @include body-m;
  width: 400px;
  border: 2px solid $black;
  height: pxtorem(50px);
  padding: space(12) space(16);
  color: $black;

  &--container {
    display: inline;
  }

  &--error {
    display: block;
    border-left: 2px solid $brink-pink;
    padding-left: space(16);
  }
}

.input--full-width {
  width: 100%;
}

.input__error-message {
  display: none;
  position: relative;

  &--show {
    display: inline-block;
    color: $brink-pink;
    margin-top: space(8);
  }
}

input:invalid {
  &:after {
    content: 'I';
    position: absolute;
    top: 0;
  }
}
