@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

.input {
  @include body-m;
  width: 400px;
  border: 2px solid $san-juan;
  height: pxtorem(50px);
  padding: space(16);
}

.input--full-width {
  width: 100%;
}
