@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

@mixin disabled-btn {
  &:disabled {
    color: $mercury;
    background-color: inherit;
    border: 2px solid $mercury;
    opacity: 0.75;
  }
}

@mixin disabled-btn-hover {
  &:disabled:hover {
    box-shadow: none;
    cursor: not-allowed;
    border: 2px solid $mercury;
  }
}

.button {
  font-weight: 400;
  background-color: $black;
  color: $white;
  border: none;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
    cursor: pointer;
  }

  &:active {
    border: 2px solid $downy;
  }

  &:focus {
    border: 2px solid $downy;
    outline: 0;
    text-decoration: none;
  }

  &:disabled {
    background-color: $mercury;
    opacity: 0.75;
  }

  &:disabled:hover {
    box-shadow: none;
    cursor: not-allowed;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.5rem;

    @include for-tablet-portrait-down {
      padding: 0.5rem 1rem;
    }

    svg {
      margin-left: space(8);

      @include for-tablet-portrait-down {
        margin-left: space(16);
      }
    }
  }
}

.button--black {
  background-color: $black !important;
  color: $white !important;
  border: 2px solid $black !important;

  &:focus,
  &:hover {
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
    outline: 0;
    text-decoration: none;
  }
}

.button--pink {
  background-color: $brink-pink !important;
  color: $white !important;
  border: 2px solid $brink-pink !important;

  &:focus,
  &:hover {
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
    outline: 0;
    text-decoration: none;
  }
}

.button--yellow {
  background-color: $supernova !important;
  color: $black !important;
  border: 2px solid $supernova !important;

  &:focus,
  &:hover {
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
    outline: 0;
    text-decoration: none;
  }
}

.button--light {
  background-color: $white;
  color: $black;
  border: 2px solid $black;
}

.button--disabled {
  background-color: $mercury;
  opacity: 0.75;

  &:hover {
    box-shadow: none;
    cursor: not-allowed;
  }
}

.button--small {
  height: pxtorem(32px);
  padding: 0px space(16);

  @include for-phone-only {
    font-family: $font-primary;
    font-weight: normal;
  }
}

.button--medium {
  height: pxtorem(56px);
  padding: 0px space(20);
}

.button--large {
  height: pxtorem(80px);
  padding: 0px space(40);

  @include for-phone-only {
    height: pxtorem(70px);
    padding: 0px space(16);
  }
}

.button__icon {
  max-width: 20px;
}

.button__icon--small {
  margin-left: space(16);

  @include for-phone-only {
    margin-left: space(8);
  }
}

.button__icon--medium {
  margin-left: space(12);
}

.button__icon--large {
  margin-left: space(16);
}

.button__alt {
  background-color: $white;
  color: inherit;
  border: 2px solid $black;

  &:hover {
    cursor: pointer;
    background-color: $black;
    color: $white;
  }

  &:disabled {
    @include disabled-btn;
  }

  &:disabled:hover {
    @include disabled-btn-hover;
  }
}

.button__alt--disabled {
  @include disabled-btn;

  @include disabled-btn-hover;
}

.button__alt--medium {
  height: pxtorem(50px);

  svg {
    margin-left: space(16);
  }
}

.button__alt--small {
  height: pxtorem(35px);
  font-size: $font-body-m;
  padding: 0 space(16);
  line-height: 1.16;

  svg {
    margin-left: space(16);
  }
}

.button__category {
  font-size: $font-body-m;
  height: pxtorem(50px);
  padding: 0 space(16);
  margin-right: space(20);
  margin-bottom: space(16);
}

.button__header {
  height: auto;
  padding: 0 space(8);
  margin: 0 space(12);
  background-color: $white;
  color: $black;
  font-size: pxtorem(14px);
  font-weight: normal;
  line-height: 2rem;

  @include for-tablet-landscape-down {
    color: $black;
  }

  &:hover {
    background-color: $black;
    color: $white;
    box-shadow: none;
  }

  &:disabled {
    color: $white;
    @include disabled-btn;
  }

  &:disabled:hover {
    @include disabled-btn-hover;
  }

  @include for-small-phone {
    margin: 0;
  }
}

.buton__burger-menu {
  background-color: transparent;
  color: $brink-pink;
  font-size: $font-body-s;
  font-family: $font-primary;
  display: block;
  padding: 0;
  height: auto;
  margin-bottom: space(24);
  font-weight: normal;

  &:focus {
    border: inherit;
  }

  &:hover {
    box-shadow: none;
  }
}
