@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

@mixin disabled-btn {
  &:disabled {
    color: $mercury;
    background-color: inherit;
    border: 2px solid $mercury;
    opacity: 0.75;
  }
}

@mixin disabled-btn-hover {
  &:disabled:hover {
    box-shadow: none;
    cursor: not-allowed;
    border: 2px solid $mercury;
  }
}

.button {
  background-color: $san-juan;
  color: $white;
  font-weight: bold;
  font-size: pxtorem(22px);
  line-height: 1.15;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
    cursor: pointer;
  }

  &:active {
    border: 2px solid $puerto-rico;
  }

  &:focus {
    border: 2px solid $puerto-rico;
    outline: 0;
    text-decoration: none;
  }

  &:disabled {
    background-color: $mercury;
    opacity: 0.75;
  }

  &:disabled:hover {
    box-shadow: none;
    cursor: not-allowed;
  }
}

.button--light {
  background-color: $white;
  color: $san-juan;
  border: 2px solid $san-juan;
}

.button--disabled {
  background-color: $mercury;
  opacity: 0.75;

  &:hover {
    box-shadow: none;
    cursor: not-allowed;
  }
}

.button--small {
  height: pxtorem(50px);
  padding: 0px space(16);

  @include for-phone-only {
    font-family: $font-primary;
    font-weight: normal;
  }
}

.button--medium {
  height: pxtorem(65px);
  padding: 0px space(24);
}

.button--large {
  height: pxtorem(80px);
  padding: 0px space(40);

  @include for-phone-only {
    height: pxtorem(70px);
    padding: 0px space(16);
  }
}

.button__icon {
  max-width: 20px;
}

.button__icon--small {
  margin-left: space(16);

  @include for-phone-only {
    margin-left: space(8);
  }
}

.button__icon--medium {
  margin-left: space(24);
}

.button__icon--large {
  margin-left: space(16);
}

.button__alt {
  font-size: inherit;
  border-radius: 40px;
  background-color: $white;
  color: inherit;
  border: 2px solid $san-juan;

  &:hover {
    box-shadow: none;
    cursor: pointer;
    border: 3px solid $san-juan;
  }

  &:disabled {
    @include disabled-btn;
  }

  &:disabled:hover {
    @include disabled-btn-hover;
  }
}

.button__alt--disabled {
  @include disabled-btn;

  @include disabled-btn-hover;
}

.button__alt--medium {
  height: pxtorem(50px);

  svg {
    margin-left: space(16);
  }
}

.button__alt--small {
  height: pxtorem(35px);
  font-size: $font-body-m;
  padding: 0 space(16);
  line-height: 1.16;

  svg {
    margin-left: space(16);
  }
}

.button__category {
  font-size: $font-body-m;
  height: pxtorem(50px);
  padding: 0 space(16);
  border-radius: 9px;
  margin-right: space(20);
  margin-bottom: space(16);
}

.button__header {
  height: pxtorem(40px);
  padding: pxtorem(4px) space(16) space(8);
  margin: 0 space(24);
  border-radius: 16px;
  border: 1px solid $waikawa;
  background-color: $white;
  color: $waikawa;
  font-size: $font-body-m;
  font-weight: normal;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0;

  @include for-tablet-landscape-down {
    color: $san-juan;
  }

  &:hover {
    border: 2px solid $waikawa;
    border-top: 0;
  }

  &:disabled {
    color: $white;
    @include disabled-btn;
  }

  &:disabled:hover {
    @include disabled-btn-hover;
  }

  @include for-small-phone {
    margin: 0;
  }
}

.buton__burger-menu {
  background-color: transparent;
  color: $waikawa;
  font-size: $font-body-s;
  font-family: $font-primary;
  display: block;
  padding: 0;
  height: auto;
  margin-bottom: space(24);
  font-weight: normal;

  &:focus {
    border: inherit;
  }

  &:hover {
    box-shadow: none;
  }
}
