@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles//breakpoints.scss';

.button {
  background-color: $san-juan;
  color: $white;
  font-weight: bold;
  font-size: pxtorem(22px);
  line-height: 1.15;
  border-radius: 10px;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
    cursor: pointer;
  }

  &:active {
    border: 2px solid $puerto-rico;
  }

  &:focus {
    border: 2px solid $puerto-rico;
    outline: 0;
    text-decoration: none;
  }
}

.button--disabled {
  background-color: $mercury;
  opacity: 0.75;

  &:hover {
    box-shadow: none;
    cursor: not-allowed;
  }
}

.button--small {
  height: pxtorem(50px);
  padding: 0px space(16);
}

.button--medium {
  height: pxtorem(65px);
  padding: 0px space(24);
}

.button--large {
  height: pxtorem(80px);
  padding: 0px space(40);

  @include for-phone-only {
    height: pxtorem(70px);
    padding: 0px space(16);
  }
}

.button__icon {
  max-width: 20px;
}

.button__icon--small {
  margin-left: space(16);

  @include for-phone-only {
    margin-left: space(8);
  }
}

.button__icon--medium {
  margin-left: space(24);
}

.button__icon--large {
  margin-left: space(16);
}

.button__secondary {
  border-radius: 40px;
}
