@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.results {
  position: relative;
  background: linear-gradient(to bottom, $white 0%, $white 270px, $light-turquoise 270px,$light-turquoise 100%);

  &::after {
    content: url('../../assets/images/backgrounds/park-trimmed.svg');
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 0;
  }
}

.results__list {
  position: relative;
  padding-top: space(40);
  padding-bottom: space(40);
  z-index: 10;
}

.results__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: space(32);
  max-width: 1260px;
  padding: 0 space(40);
  margin: 0 auto;

  @include for-tablet-portrait-down {
    gap: none;
    padding: 0 space(24);
  }
}

.results__container--no-results {
  padding: space(64) space(40) space(16);

  @include for-phone-only {
    padding: space(32) space(12) space(16);
  }
}

.results__container__category-list {
  margin-top: space(32);

  h2 {
    margin-bottom: space(16);
  }
}

.results__container-count {
  display: flex;
}

.results__search-box {
  position: relative;

  @include for-phone-only {
    h1 {
      font-size: $font-body-l;
    }
  }

  > .flex-container {
    position: relative;
    max-width: 1260px;
  }
}

.results__info__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: space(12) space(16) space(12) space(24);
  background-color: $white;

  @include for-tablet-portrait-down {
    flex-wrap: wrap;
    padding: space(12) space(16);
  }
}

.results__count {
  @include for-tablet-portrait-down {
    flex: 0 0 100%;
    margin-bottom: space(8);
  }

  @include for-tablet-portrait-up {
    flex: 0 0 50%;
  }

  p {
    font-size: pxtorem(20px);
    font-weight: 700;
  }
}

.results__search-filter-location {
  width: 100%;
  margin: 0 space(24);
}

.results__search-filter-location--label {
  font-size: pxtorem(20px);
  font-weight: 700;
}

/* PAGINATION */
.pagination {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: space(64);
  list-style: none;

  @include for-phone-only {
    margin-top: space(40);
    padding-bottom: space(64);
  }
}

.pagination__item {
  margin: 0;
  background: $yellow;

  &:nth-child(2) {
    padding-left: space(16);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:nth-last-child(2) {
    padding-right: space(16);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &.disabled {
    .pagination__link {
      color: $lynch;
    }
  }
}

.pagination__link {
  display: block;
  padding: space(16) space(8);
  font-size: pxtorem(20px);
  text-decoration: none;

  &:hover,
  &--active {
    text-decoration: underline;
  }

  @include for-phone-only {
    font-size: pxtorem(16px);
  }
}

.pagination__nav-prev {
  margin-right: auto;
  padding: 0 space(8);
  border-radius: 4px;
  background: $white;

  svg {
    margin-right: space(16);

    @include for-phone-only {
      margin-right: space(8);
    }
  }

  @include for-phone-only {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.pagination__nav-next {
  margin-left: auto;
  padding: 0 space(8);
  border-radius: 4px;
  background: $white;

  svg {
    margin-left: space(16);

    @include for-phone-only {
      margin-left: space(8);
    }
  }

  @include for-phone-only {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.results__filters {
  width: 100%;

  .input--container {
    margin: 0 space(24) 0 0;
  }

  .button {
    height: 100%;
    margin-left: space(24);
  }
}

.results__filters__heading {
  margin-bottom: space(16);
}

.results__filters__checkboxes {
  .checkbox {
    margin-right: space(20);
  }
}

.results__view-filter {
  display: flex;
  align-items: center;

  @include for-phone-only {
    flex-wrap: wrap;
  }

  .button {
    height: 44px;
    padding: space(8) space(12);
    margin-left: space(24);
    font-weight: 400;
    background-color: $gray;
    color: $black;

    &--light {
      background-color: $white;
    }

    @include for-phone-only {
      height: 40px;
      padding: space(8) space(12);
      margin-left: 0;
      margin-right: space(16);
      font-size: pxtorem(16px); 
    }
  }
}

.results__overview__filters--heading {
  display: block;
  margin-bottom: space(8);
  font-weight: normal;
  font-family: $font-primary;
  font-size: $font-heading-s;
  line-height: $font-heading-s;
}

.results__filter-bar {
  align-items: center;
  max-width: 1260px;

  @include for-phone-only {
    flex-direction: column-reverse;
  }

  @include for-tablet-landscape-down {
    padding: space(32) space(16) !important;
    flex-direction: column-reverse;
  }

  @include for-tablet-landscape-up {
    padding-top: space(48) !important;
    padding-bottom: space(48) !important;
  }
}

.results__sort-by-label {
  @include body-m;
  color: $black;
}

.results__sort-by {
  align-items: center;
  justify-content: flex-end;
}

.results__mobile-edit {
  text-align: right;

  button {
    @include body-s;
  }
}

.results__overview__container {
  padding: 0 !important;

  @include for-tablet-landscape-down {
    padding-left: space(16) !important;
  }

  &--end {
    justify-content: flex-end !important;
  }
}

.results__mobile-edit {
  @include for-phone-only {
    button {
      @include body-s;
    }
  }
}

.results__amend {
  button {
    float: right;
    font-size: pxtorem(22px);
    padding: 0 space(20) !important;
  }

  @include for-phone-only {
    button {
      font-size: pxtorem(14px);
      font-weight: normal;
      padding: 0 space(8);
      height: pxtorem(35px);
    }
  }

  @include for-tablet-portrait-down {
    padding: 0 !important;
    font-size: pxtorem(16px);
  }
}

.results__overview {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: space(40);
  background-color: $yellow;
  color: $black;

  @include for-phone-only {
    padding: space(16);
  }

  &--intro {
    margin: space(10) 0;

    @include for-tablet-landscape-up {
      padding-right: space(40);
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -38px;
    right: 37.5%;
    width: 0; 
    height: 0; 
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
    border-top: 38px solid $yellow;

    @include for-tablet-portrait-down {
      bottom: -20px;
      right: space(20);
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $yellow;
    }
  }
}

.results__overview__content {
  flex: 0 0 50%;
  display: flex;
  align-items: flex-start;
}

.results__overview__image {
  margin-right: space(24);
  width: 158px;
  height: 158px;
  background-color: $gray;
  border-radius: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.results__overview__info {
  padding: space(16) 0;
  box-sizing: border-box;
}

.results__search-box-keyword {
  margin-right: space(20);
  width: 100%;
}

.results__heading {
  padding: 0 space(64);
  margin-bottom: space(32);

  @include for-tablet-portrait-down {
    padding: 0;
    margin-bottom: space(16);
  }
}

.results__overview__edit-toggle {
  color: $turquoise;
  font-size: pxtorem(16px);
  border-bottom: 2px solid $turquoise;
}

.results__overview__edit-input {
  margin-top: pxtorem(18px);
}

.results__overview__edit-filters {
  margin-top: pxtorem(18px) !important;

  @include for-tablet-portrait-up {
    padding: 0 !important;
  }
}

.results__overview__edit-submit {
  padding-top: space(64);
  text-align: center;

  @include for-small-phone {
    padding-top: 0;
  }
}

.results__overview__edit-checkbox {
  label {
    font-size: pxtorem(19px) !important;
  }
}

.results__sort-by-container {
  @include for-tablet-landscape-up {
    text-align: right;
  }

  @include for-small-phone {
    margin-top: space(8);
  }
}

.results__category-sidebar {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: space(32);
  max-width: 1260px;
  padding: 0 space(40);
  margin: 0 auto space(32);

  @include for-phone-only {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: space(16);
    padding: space(16);
  }
}
