@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

@mixin search-container {
  background: $white;
  border-radius: 23px;
}

.results__list {
  padding: space(20);

  @include for-phone-only {
    padding: space(8);
  }
}

.results__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @include for-desktop-up {
    padding: 0 space(64);
  }
}

.results__container-count {
  display: flex;
  justify-content: flex-start;
  color: $san-juan;

  @include for-tablet-landscape-down {
    margin: space(8) 0 !important;
    justify-content: center;
  }
}

.results__search-box {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: $san-juan;
  position: relative;

  @include for-tablet-landscape-up {
    padding: space(48) 0 !important;
    background-image: url('../../assets/images/backgrounds/results-shape.svg');

    &:before {
      content: url('../../assets/images/trees/peurto-small.svg');
      position: absolute;
      top: 3px;
      right: 400px;
    }

    &:after {
      content: url('../../assets/images/telephone-boxes-shapes.svg');
      position: absolute;
      top: 0;
      right: 100px;
    }
  }

  @include for-tablet-portrait-down {
    padding: space(16) space(8) space(8) !important;
  }
}

.results__search-filter-location {
  width: 100%;
  margin-top: space(8);
}

.pagnation__container {
  justify-content: center;
}

.pagination {
  display: flex;
  margin: space(48) 0;

  li {
    margin-right: space(8);
  }
}

.pagination--text-nav-container {
  background: $alabaster;
  border-radius: 2px;
  padding: space(10);
}

.pagination--text-nav-link {
  text-decoration: none;

  span {
    color: $elm;
  }

  &:hover {
    text-decoration: underline;
  }
}

.pagination--number-container {
  padding: space(10);
}

.pagination--text-number-link {
  color: $waikawa;
  text-decoration: none;
}

.pagination--active {
  background: $mercury;
  border-radius: 2px;
}

.results__filters {
  @include for-tablet-landscape-up {
    @include search-container();

    padding: space(20) !important;
    align-items: flex-end;
  }

  @include for-desktop-up {
    padding: space(20) space(32) !important;
  }
}

.results__keyword-filters--heading {
  font-weight: normal;
  font-family: $font-primary;
  font-size: pxtorem(27px);
  margin-bottom: space(10);

  @include for-phone-only {
    margin-bottom: space(8);
  }
}

.results__keyword-filters--heading--cost {
  font-weight: normal;
  font-family: $font-primary;
  font-size: pxtorem(27px);
  margin-bottom: space(16);
}

.results__filter-bar {
  align-items: center;

  @include for-phone-only {
    flex-direction: column-reverse;
  }

  @include for-tablet-landscape-down {
    padding: 0 !important;
    flex-direction: column-reverse;
  }

  @include for-tablet-landscape-up {
    margin-bottom: space(32) !important;
  }
}

.results__sort-by-label {
  @include body-m;
  color: $san-juan;
}

.results__sort-by {
  align-items: center;
  justify-content: flex-end;
}

.results__mobile-edit {
  text-align: right;

  button {
    @include body-s;
  }
}

.results__keyword-container {
  padding: 0 !important;
}

.results__sort-by-select {
  font-size: pxtorem(14px);
  padding: pxtorem(6px);
}

.results__mobile-edit {
  @include for-phone-only {
    button {
      @include body-s;
    }
  }
}

.results__amend {
  @include for-phone-only {
    button {
      font-size: pxtorem(14px);
      font-weight: normal;
      font-family: $font-primary;
      padding: 0 space(8);
      height: pxtorem(35px);
    }
  }
}

.category__info {
  width: 100%;
  @include search-container;

  @include for-tablet-landscape-up {
    padding: space(24) space(36) !important;
  }

  @include for-tablet-portrait-down {
    padding: 0 !important;
  }

  &--intro {
    color: $waikawa;
    margin: space(10) 0;

    @include for-tablet-landscape-up {
      padding-right: space(40);
    }
  }
}

.results__keyword-edit {
  position: fixed;
  top: pxtorem(75px);
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
  background: $white;

  @include for-tablet-portrait-up {
    top: pxtorem(102px);
  }
}

.results__keyword-input-box {
  @include search-container;
  padding: space(32);
}

.results__keyword-search-container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

.results__search-box-keyword {
  margin-right: space(20);
  width: 50%;
}

.results__keyword-heading {
  @include for-tablet-landscape-up {
    margin-bottom: space(12);
    margin-left: space(16);
  }
}

.results__keyword-edit-toggle {
  color: $elm;
  font-size: pxtorem(19px);
  border-bottom: 2px solid $elm;
}

.results__keyword-edit-input {
  margin-top: pxtorem(18px);
}

.results__keyword-edit-filters {
  margin-top: pxtorem(18px) !important;

  @include for-tablet-portrait-up {
    padding: 0 !important;
  }
}

.results__keyword-edit-submit {
  padding-top: space(64);
  text-align: center;
}

.results__keyword-edit-checkbox {
  label {
    font-size: pxtorem(19px) !important;
  }
}

.results__sort-by-container {
  @include for-tablet-landscape-up {
    text-align: right;
  }
}
