@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/breakpoints.scss';

.criteria_card {
  width: 100%;
  padding: space(16);
  background-color: $mercury;

  @include for-tablet-portrait-up { 
    display: flex;
  }
}

.criteria_card-img {
  padding-right: space(16);
  text-align: center;

  svg {
    width: pxtorem(36px);
  }
}

.criteria_card-title {
  font-size: pxtorem(14px) !important;
  font-weight: 900;

  @include for-tablet-landscape-up {
    margin-top: space(8);
  }
}

.service__criteria {
  @include for-tablet-portrait-down {
    padding: 0 space(16) !important;
  }
}
