@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.favourites {
  padding-bottom: space(64);

  &--container {
    max-width: 1260px;
  }
}

.favourites__header {
  background-image: url('../../assets/images/backgrounds/favourites-shape.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: $san-juan;

  @include for-tablet-landscape-up {
    padding: space(64) !important;
    padding-bottom: space(24) !important;
  }

  @include for-tablet-portrait-down {
    background-image: none;
    padding: space(24) !important;
  }

  &--share-container {
    padding: 0 !important;
  }

  &--heading {
    margin-bottom: space(20) !important;

    @include for-phone-only {
      h1 {
        font-size: $font-body-l;
      }
    }
  }

  &--header-container {
    background-color: $white;
    padding: space(32);
    border-radius: 23px;
    color: $waikawa;

    &:first-of-type {
      margin-right: space(32);
    }

    &:last-of-type {
      padding: space(20) !important;
    }

    @include for-tablet-portrait-down {
      padding: 0 !important;
    }
  }

  &--inner-container {
    justify-content: flex-start !important;
    width: 100%;
    padding: 0 !important;
  }

  &--share {
    color: $san-juan;

    @include for-tablet-portrait-down {
      text-align: center;
      margin-top: space(16);
    }

    p {
      display: inline;
      margin-right: space(8);
    }

    svg {
      margin: 0 space(10);
    }
  }

  &--print {
    @include for-tablet-portrait-down {
      text-align: center;
      margin: space(16) 0;
    }

    button {
      color: $san-juan;
      font-weight: normal !important;
    }
  }
}

.favourites__logo {
  width: pxtorem(65px) !important;
  height: pxtorem(65px);
  border: 1px solid $nobel;
  border-radius: 9px;
  background-color: $white;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    border-radius: 9px;
    width: 100%;
  }
}

.favourites__card {
  color: $san-juan;
  border: 2px solid $san-juan;
  border-radius: 10px;
  max-width: pxtorem(380px);
  margin-bottom: space(24);

  &--no-padding {
    padding: 0 !important;
  }

  &--inner {
    padding: space(24) !important;
  }

  &--outer {
    @include for-tablet-portrait-down {
      display: flex;
      justify-content: center;
    }
  }

  &--organisation {
    color: $waikawa;
  }

  &--location {
    @include heading-s;
    color: $elm;
    margin: space(12) 0;
  }

  &--intro {
    color: $mid-grey;
  }

  &--button-row {
    border-top: 2px solid $san-juan;
  }

  &--button {
    text-align: center;

    padding: space(16);

    svg {
      margin-left: space(8);
      vertical-align: middle;
    }

    &:first-of-type {
      border-right: 2px solid $san-juan;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
    }

    &--more {
      background-color: $san-juan;
      color: $white;
    }

    @include for-phone-only {
      p {
        font-size: pxtorem(18px);
        vertical-align: middle;
      }
    }
  }

  &--contact {
    border-left: 3px solid $waikawa;
    padding-left: space(12) !important;
    margin: space(8) 0 !important;

    svg {
      color: $waikawa;
    }

    &--heading {
      @include heading-s;
      margin: space(8) 0;
    }

    .flex-col {
      margin-bottom: space(8) !important;
    }
  }
}

.favourites__count {
  color: $san-juan;
  margin: space(32);

  @include for-tablet-portrait-down {
    margin: 0;
    padding: 0 space(24) !important;
  }
}

.favourites__add-more {
  background-image: url('../../assets/images/backgrounds/favourites-add-more-shape.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: space(64) !important;
  margin-top: space(64);

  button {
    background-color: $elm;
  }

  @include for-phone-only {
    padding: space(32) !important;

    button {
      font-size: pxtorem(18px);
    }
  }
}

.favourites__no-favourites {
  color: $san-juan;
  padding: space(64) !important;

  @include for-tablet-portrait-down {
    padding: space(24) !important;

    h3 {
      font-size: $font-heading-s;
    }
  }
}
