$black: #000;
$white: #fff;
$san-juan: #38486c;
$lynch: #68748f;
$gray: #8f8f8f;
$mercury: #e5e5e5;
$elm: #1f8275;
$puerto-rico: #46c0b0;
$iceberg: #d0efeb;
$downy: #75d0c4;
$jordy-blue: #7ab1ef;
$perano: #9cc5f3;
$hawkes-blue: #deebfb;
$alabaster: #f8f8f8;
$cranberry: #be4865;
$blush: #df8097;
$pink: #ffbfce;
$waikawa: #69758f;
$mid-grey: #666672;
