$black: #1C1C1C;
$white: #fff;
$lynch: #68748f;
$gray: #8f8f8f;
$mercury: #e5e5e5;

$brink-pink: #7B2379;

$brink-pink: #FF5991;
$tickle-me-pink: #FF75A1;
$carnation-pink: #FFA3BD;
$pastel-pink: #FFD1DB;

$supernova: #FFCC00;
$bright-sun: #FFD940;
$kournikova: #FFE680;
$egg-white: #FFF2BF;

$downy: #69D1C2;
$bermuda: #82D6C9;
$aqua-island: #A8E0D6;
$iceberg: #D4F0EB;