@import './mixins.scss';
@import './breakpoints.scss';

$font-primary: 'Museo Sans 500', sans-serif;
$font-secondary: 'Museo Sans 700', sans-serif;
$font-tertiary: 'Skippy Sharpie';

$font-base: pxtorem(16px);

$font-heading-xl: pxtorem(36px);
$font-heading-mobile-xl: pxtorem(22px);

$font-heading-l: pxtorem(28px);
$font-heading-mobile-l: pxtorem(27px);

$font-heading-m: pxtorem(22px);
$font-heading-mobile-m: pxtorem(24px);

$font-heading-s: pxtorem(18px);

$font-body-l: pxtorem(20px);
$font-body-mobile-l: $font-base;

$font-body-m: pxtorem(18px);
$font-body-mobile-m: pxtorem(16px);
$font-body-mobile-tertiary: $font-base;

$font-body-s: $font-base;

$font-body-xs: pxtorem(14px);

$font-body-alt: pxtorem(30px);
$font-body-mobile-alt: pxtorem(22px);

$font-breadcrumb: $font-base;
$font-breadcrumb-mobile: pxtorem(10px);

$font-link-medium: $font-base;

@font-face {
  font-family: 'Museo Sans 500';
  src: url('../assets/fonts/museosans_500.woff2') format('woff2'),
    url('../assets/fonts/museosans_500.woff') format('woff'),
    url('../assets/fonts/museosans_500.ttf') format('truetype');
}

@font-face {
  font-family: 'Museo Sans 500 Italic';
  src: url('../assets/fonts/museosans_500_italic.woff2') format('woff2'),
    url('../assets/fonts/museosans_500_italic.woff') format('woff'),
    url('../assets/fonts/museosans_500_italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Museo Sans 700';
  src: url('../assets/fonts/museosans-700.woff2') format('woff2'),
    url('../assets/fonts/museosans-700.woff') format('woff'),
    url('../assets/fonts/museosans-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Museo Sans 700 Italic';
  src: url('../assets/fonts/museosans-700-italic.woff2') format('woff2'),
    url('../assets/fonts/museosans-700-italic.woff') format('woff'),
    url('../assets/fonts/museosans-700-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Skippy Sharpie';
  src: url('../assets/fonts/skippy_sharpie_regular.woff2') format('woff2'),
    url('../assets/fonts/skippy_sharpie_regular.woff') format('woff'),
    url('../assets/fonts/skippy_sharpie_regular.ttf') format('truetype');
}

/* Headings */
@mixin heading-xl {
  font-size: $font-heading-xl;
  font-family: $font-secondary;
  line-height: 1.2;

  @include for-phone-only {
    font-size: $font-heading-mobile-xl;
    line-height: 1.23;
  }
}

@mixin heading-l {
  font-size: $font-heading-l;
  font-family: $font-secondary;
  line-height: 1.17;

  @include for-phone-only {
    font-size: $font-heading-mobile-l;
    line-height: 1.2;
  }
}

@mixin heading-m {
  font-size: $font-heading-m;
  font-family: $font-secondary;
  line-height: 1.14;

  @include for-phone-only {
    font-size: $font-heading-mobile-m;
  }
}

@mixin heading-s {
  font-size: $font-heading-s;
  font-family: $font-secondary;
  line-height: 1.22;
}

@mixin heading-s-regular {
  font-family: $font-secondary;

  @include for-phone-only {
    font-size: $font-heading-mobile-s;
    line-height: 1.2;
  }
}

@mixin heading-s-light {
  font-size: $font-heading-s;
  font-family: $font-primary;
  font-weight: normal;
  line-height: 1.22;
}

/* Body */

@mixin body-l {
  font-size: $font-body-l;
  font-family: $font-primary;
  line-height: 1.25;

  @include for-phone-only {
    font-size: $font-body-mobile-l;
    line-height: 1.38;
  }
}

@mixin body-m {
  font-size: $font-body-m;
  font-family: $font-primary;
  line-height: 1.22;

  @include for-phone-only {
    font-size: $font-body-mobile-m;
    line-height: 1.3;
  }
}

@mixin body-m-secondary {
  font-size: $font-body-m;
  font-family: $font-primary;
  line-height: 1.35;

  @include for-phone-only {
    font-size: $font-body-mobile-m;
    line-height: 1.15;
  }
}

@mixin body-m-tertiary {
  font-size: $font-body-m;
  font-family: $font-primary;
  line-height: 1.35;

  @include for-phone-only {
    font-size: $font-body-mobile-tertiary;
    line-height: 1.38;
  }
}

@mixin body-s {
  font-size: $font-body-s;
  font-family: $font-primary;
  line-height: 1.25;
}

@mixin body-s-secondary {
  font-size: $font-body-s;
  font-family: $font-primary;
  line-height: 1.13;
}

@mixin body-s-tertiary {
  font-size: $font-body-xs;
  font-family: $font-primary;
  line-height: 1.15;
}

@mixin body-xs {
  font-size: $font-body-xs;
  font-family: $font-primary;
  line-height: 1.15;
}

@mixin body-alt {
  font-size: $font-body-alt;
  font-family: $font-tertiary;
  line-height: 1;

  @include for-phone-only {
    font-size: $font-body-mobile-alt;
  }
}

@mixin link-header {
  font-size: $font-body-m;
  font-family: $font-primary;
}

@mixin link-large {
  font-size: $font-heading-m;
  font-family: $font-secondary;
  display: block;
}

@mixin link-medium {
  font-size: $font-link-medium;
  font-family: $font-secondary;
}

@mixin breadcrumb {
  font-size: $font-breadcrumb;
  font-family: $font-primary;
  line-height: 1.13;

  @include for-phone-only {
    font-size: $font-breadcrumb-mobile;
    line-height: 1.2;
  }
}
