@import './reset.scss';
@import './mixins.scss';
@import './fonts.scss';
@import './colors.scss';
@import './breakpoints.scss';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

h1 {
  @include heading-l;
}

h2 {
  @include heading-l;
}

h3 {
  @include heading-m;
}

h4 {
  @include heading-s;
}

h5,
h6,
a,
button,
p {
  @include body-m;
  color: inherit;
}

.body {
  &--l {
    @include body-l;
  }

  &--m-tertiary {
    @include body-m-tertiary;
  }

  &--m-secondary {
    @include body-m-secondary;
  }

  &--m {
    @include body-m;
  }

  &--s {
    @include body-s;
  }

  &--s-secondary {
    @include body-s-secondary;
  }

  &--s-tertiary {
    @include body-s-tertiary;
  }

  &--xs {
    @include body-xs;
  }

  &--alt {
    @include body-alt;
  }
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  @include body-s;
  color: inherit;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

li {
  display: list-item;
  margin: space(8) 0;
}

a {
  cursor: pointer;
}

button {
  border: none;
  background: none;
}

// Google translate overrides

#google_translate_element {
  display: inline-block;
}

.goog-te-gadget-simple {
  border: 1px solid  $deluge !important;
  line-height: 2.4375rem !important;
  height: auto !important;
  display: inline-block;
  cursor: pointer;
  zoom: 1;
  padding: 0 space(12);
  margin: 0;
  font-weight: normal;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top: 0 !important;
  box-sizing: border-box;

  &:hover {
    background-color: $deluge;

    span .goog-te-menu-value:before,
    span .goog-te-menu-value:after, {
      color: $white !important;
    }
  }
}

.goog-te-menu2 {
  max-width: 100%;
}

.goog-te-gadget-icon {
  display: none;
}

.goog-te-menu-value {
  span {
    display: none;
  }

  span &:before {
    color: $deluge;
    content: 'Translate';
    font-family: 'Museo Sans 500', sans-serif;
    font-size: pxtorem(18px);

    @include for-tablet-landscape-down {
      color: $san-juan;
    }
  }

  span &:after {
    content: '\f1ab';
    font-family: 'Font Awesome 5 Brands', 'Font Awesome 5 Free';
    font-weight: 900;
    color: $deluge;

    @include for-tablet-landscape-down {
      color: $san-juan;
    }
  }
}
