@import './reset.scss';
@import './fonts.scss';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  @include heading-xl;
}

h2 {
  @include heading-l;
}

h3 {
  @include heading-m;
}

h4 {
  @include heading-s;
}

h5,
h6,
a,
button,
p {
  @include body-m;
  color: inherit;
}

.body {
  &--l {
    @include body-l;
  }

  &--m {
    @include body-m-tertiary;
  }

  &--m-secondary {
    @include body-m-secondary;
  }

  &--m {
    @include body-m;
  }

  &--s {
    @include body-s;
  }

  &--s-secondary {
    @include body-s-secondary;
  }

  &--s-tertiary {
    @include body-s-tertiary;
  }

  &--xs {
    @include body-xs;
  }

  &--alt {
    @include body-alt;
  }
}
