@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.card {
  display: flex;
  align-content: center;
  background-color: $alabaster;
  font-family: $font-secondary;
  color: $san-juan;
  border-radius: 25px;
  margin: space(32);
  max-width: pxtorem(300px);
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(56, 56, 56, 0.5);
  }

  @include for-tablet-portrait-down {
    margin: space(12);
  }

  @include for-phone-only {
    background-color: $white;
    margin: space(20) 0;

    img {
      width: pxtorem(75px);
      height: pxtorem(75px);
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
  }

  @include for-tablet-portrait-up {
    flex-direction: column;

    img {
      width: 100%;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
  }
}

.card__header {
  margin-bottom: space(16);

  @include for-phone-only {
    font-size: $font-body-s;
  }
}

.card__description {
  padding: space(24) space(16);
}
