@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';

.breadcrumb {
  padding: space(8) 0;

  > .flex-container {
    max-width: 1260px;
  }

  &--active {
    color: $black !important;
  }

  ul > li:first-child {
    margin-left: 0 !important;
  }

  ul {
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      text-decoration-color: $brink-pink;
    }

    svg {
      font-size: pxtorem(16px);

      @include for-phone-only {
        font-size: pxtorem(12px);
      }
    }
  }

  li {
    display: inline;
    color: $brink-pink;
    font-size: pxtorem(16px) !important;

    &:first-child {
      margin-left: 0;
    }

    @include for-phone-only {
      font-size: pxtorem(12px) !important;
      margin-left: space(8) !important;
    }
  }

  svg {
    margin-left: space(16);
    margin-right: space(16);
    color: $brink-pink;

    @include for-phone-only {
      margin-left: space(8);
    }
  }
}
