@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/breakpoints.scss';

.location__address {
  margin-top: space(8) !important;
}

.location__image {
  text-align: center;
  img {
    border: 1px solid $black;
  }
}

.location__accessibility {
  margin: space(12) 0 0 0 !important;
  justify-content: flex-start !important;

  svg {
    margin-right: space(8);
    height: pxtorem(27px);
    width: pxtorem(27px);
  }
}

.location__google-maps {
  margin: space(12) 0 0 0 !important;

  a:nth-of-type(2) {
    margin-top: space(8);
  }
}

.location__opening-times {
  @include for-tablet-portrait-down {
    margin-top: space(24) !important;
  }

  h4 {
    svg {
      font-size: pxtorem(19px);
    }
  }

  &--header {
    svg {
      margin-right: space(10);
    }
  }

  &--list {
    p {
      padding-bottom: space(8);
      font-size: $font-base;
    }
  }
}

.location__holiday-times {
  margin-top: space(12);

  button {
    padding: 0;
    color: $downy;
  }

  h4 {
    font-family: $font-primary;
    font-weight: normal;
    display: inline;
  }
}

.location__container {
  margin-bottom: space(16) !important;

  &--address {
    @include for-tablet-portrait-up {
      justify-content: flex-end !important;
    }

    @include for-desktop-up {
      justify-content: space-between !important;
    }
  }

  @include for-tablet-landscape-up {
    background-color: $mercury;
    padding: space(24) !important;
  }
}
