@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

select,
.select {
  @include body-m;
  width: 100%;
  max-width: 320px;
  position: relative;
  padding: space(12);
  padding-right: space(40);
  border: 2px solid $lynch;
  box-shadow: none;
  background-image: url('../../assets/images/icons/icon-cheveron-selection.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 5px;
  background-color: $white;
  background-size: pxtorem(35px);
  color: $black;
  -webkit-appearance: none;
}
