@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

select,
.select {
  width: 100%;
  max-width: 320px;
  border: 2px solid $mid-grey;
  box-shadow: none;
  background: transparent;
  background-image: url('../../assets/images/icons/icon-cheveron-selection.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 10px;
  color: $san-juan;
  appearance: none;
  padding: space(12);

  @include for-phone-only {
    font-size: $font-body-m;
    background-size: pxtorem(22px);
  }
}
