@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.footer {
  position: relative;
  color: $black;
  background-color: $white;
  padding: space(32) 0;
  margin-top: pxtorem(0px);

  @include for-phone-only {
    padding: space(24) 0 space(64) 0;
  }

  &--inner-container {
    position: relative;

    @include for-tablet-portrait-up {
      padding-top: space(16) !important;
    }
  }

  &--service {
    margin-top: 0;

    > .flex-container {
      &:before,
      &:after {
        display: none !important;
      }
    }
  }

  > .flex-container {
    position: relative;
    max-width: 1260px;

    &:before,
    &::after {
      position: absolute;
    }
  }

  &__disclaimer {
    padding-right: space(56);

    @include for-tablet-portrait-down {
      padding-right: 0;
      padding-bottom: space(56);
    }

    @include for-phone-only {
      padding-bottom: 0;
    }
  }
}

.footer__content {
  margin: space(16) 0;

  a {
    @include body-xs;
  }

  p {
    @include body-xs;
    line-height: 1.25rem;
  }
}

.footer__social-icons {
  margin-right: space(10);
}

.footer__social-links {
  margin: space(24) 0;
}

.footer__section {
  @include for-tablet-landscape-up {
    padding: space(12);
  }

  @include for-tablet-portrait-down {
    padding: space(12) 0;
  }
}

.footer-contact-links {
  line-height: 26px;
  padding: 0 !important;
  text-decoration: underline;
  cursor: pointer;
  display: block;
}

.footer__button {
  position: relative;
  text-align: right;

  button {
    color: $white;
    border: 2px solid $white;
    font-size: pxtorem(18px);
  }

  @include for-phone-only {
    margin-top: space(32);
  }
}

.header__footer {
  background-color: $iceberg;
}

.footer-mobile-menu {
  text-align: left;
}
