@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/grid.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

@mixin marginLeft {
  margin-left: pxtorem(60px) !important;
}

.search__container {
  position: relative;
  background-color: $east-side;
  height: auto;
}

.search__inner-container {
  background-color: $white;
  width: 100%;
  max-width: 1030px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: space(24) space(20) space(32);
  margin-bottom: -120px;
  z-index: 999;

  @include for-tablet-landscape-up {
    padding: space(40) space(32);
    margin-top: space(40);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -16px;
    right: space(32);
    width: 0; 
    height: 0; 
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-top: 24px solid $white;
  }
}

.search__input {
  width: 100%;
  margin-bottom: space(16);

  button {
    margin: 0 space(20);
  }

  input {
    width: 100%;
    height: 100%;
  }

  &--row {
    padding: 0 !important;
    justify-content: flex-start !important;
  }
}

.search__categories {
  @include marginLeft;
}

.search__category-subtitle {
  margin: space(10) 0;
}

.search__category--mobile {
  margin-bottom: space(32);
}

.search__heading {
  @include heading-l;
  display: block;
  margin-bottom: space(16);

  @include for-phone-only {
    font-size: $font-body-l;
  }

  &--category {
    @include for-tablet-landscape-up {
      @include marginLeft;
    }
  }
}

.search__cateogry-list {
  margin-top: space(24);
}
