@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/grid.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

@mixin marginLeft {
  margin-left: pxtorem(60px) !important;
}

.search__container {
  background-image: url('../../assets/images/backgrounds/home-header-shape.svg');
  color: $san-juan;
  background-repeat: no-repeat;
  height: auto;
  background-size: 100% 100%;
  position: relative;
  padding: space(32) !important;

  @include for-desktop-up {
    &:after {
      content: url('../../assets/images/telephone-boxes-shapes.svg');
      top: -31px;
      position: absolute;
      left: 45%;
      z-index: 55;
    }

    &:before {
      content: url('../../assets/images/trees/peurto-small.svg');
      position: absolute;
      position: absolute;
      top: -30px;
      left: 40%;
    }
  }
  @include for-tablet-landscape-up {
    padding: space(64) space(24);
  }

  @include for-phone-only {
    background-image: url('../../assets/images/backgrounds/home-white-shape-mobile.svg');
    background-size: 110% 100%;
    background-color: $iceberg;
    padding: space(40) space(24) space(80) !important;
  }

  input {
    margin-bottom: space(24);
  }
}

.search__inner-container {
  background-image: url('../../assets/images/backgrounds/home-search-shape.svg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 1260px;
  position: relative;

  @include for-tablet-landscape-up {
    padding: space(64) space(32);
    margin: space(64) space(32);
  }
}

.search__input {
  @include for-tablet-landscape-up {
    @include marginLeft;
  }
  width: 100%;

  button {
    margin: 0 space(20);
  }

  input {
    width: 100%;
    max-width: pxtorem(400px);
    margin-bottom: space(24);
  }
}

.search__categories {
  @include marginLeft;
}

.search__category-subtitle {
  font-size: $font-heading-s;
  margin: space(10) 0;
}

.search__category--mobile {
  margin-bottom: space(32);
}

.search__heading {
  @include heading-l;
  display: block;

  @include for-phone-only {
    margin-bottom: space(16);
  }

  &--category {
    @include for-tablet-landscape-up {
      @include marginLeft;
    }
  }
}

.search__cateogry-list {
  @include marginLeft;

  margin-top: space(24);
}
