@import '../../styles/breakpoints.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.category-list {
  width: 1030px;
  max-width: 100%;
  padding: 0 space(32);

  &__heading {
    display: inline-block;
    margin-bottom: space(32);
    padding: space(20);
    background-color: $downy;
    border-radius: 20px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 26px;

    @include for-tablet-portrait-down {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include for-phone-only {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}