@import '../../styles/colors.scss';

.home {
  background-color: $turquoise;
  background-image: url('../../assets/images/backgrounds/park.svg');
  background-position: center 320px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}