@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.personas {
  background-color: $mercury;
  color: $san-juan;
  position: relative;
  padding: 160px space(16) space(48) space(16);

  &--intro {
    @include for-tablet-portrait-up {
      text-align: center;
    }
  }

  .flex-container {
    max-width: 1260px;
  }

  p {
    margin-top: space(10);
  }

  @include for-phone-only {
    background-color: $iceberg;
    padding: space(56) space(32) space(56);
    text-align: left;

    p {
      font-size: $font-body-s;
    }
  }
}

.personas__heading {
  @include heading-l;

  margin-bottom: space(8);

  @include for-phone-only {
    font-size: $font-body-l;
    margin-bottom: space(20);
  }
}

.personas__list {
  position: relative;

  @include for-phone-only {
    margin-top: space(32);
  }

  @include for-tablet-portrait-up {
    padding-top: space(24) !important;
  }

  @include for-tablet-landscape-up {
    padding-top: 0 !important;
  }
}

.persona__image--telephone-box {
  width: 160px;
}
