@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.personas {
  color: $san-juan;
  position: relative;
  text-align: center;
  padding: space(32) space(16);

  p {
    margin-top: space(10);
  }

  @include for-phone-only {
    background-color: $iceberg;
    padding: space(32) space(32) space(96);
    text-align: left;

    p {
      font-size: $font-body-s;
    }
  }

  @include for-tablet-landscape-up {
    &:before {
      content: url('../../assets/images/trees/hawkes-small.svg');
      position: absolute;
      top: -55px;
      right: 15%;
    }

    &:after {
      content: url('../../assets/images/trees/cranberry-lg.svg');
      position: absolute;
      top: -65px;
      right: 11%;
    }
  }
}

.personas__heading {
  @include heading-l;

  margin-bottom: space(8);
}

.personas__list {
  position: relative;

  @include for-phone-only {
    margin-top: space(32);
  }

  @include for-tablet-landscape-up {
    &:before {
      content: url('../../assets/images/trees/iceberg-small.svg');
      position: absolute;
      top: -150px;
      left: 10%;
    }
  }
}

.persona__image--telephone-box {
  width: 160px;
}
