@import '../../styles/fonts.scss';

.link {
  text-decoration: none;
  display: block;

  &:hover {
    text-decoration: underline;
  }
}

.link--large {
  @include link-large;
}

.link--medium {
  @include link-medium;
}

.link__inline {
  display: inline;
}

.link__icon--right {
  margin-left: space(8);
}

.link__icon--left {
  margin-right: space(16);
}

.link__header {
  @include link-header;
  margin-left: space(24);
  position: relative;

  &:last-of-type {
    margin-right: 0;
  }
}
