@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';
@import '../../styles/breakpoints.scss';

.banner {
  > .flex-container {
    padding: 0;
  }

  &__container {
    position: relative;
    max-width: 1030px;
  }

  &__content {
    max-width: 632px;
    padding: space(120) space(56) space(80);

    @include for-phone-only {
      padding: space(40) space(32);
    }

    h2 {
      font-weight: 400;
    }
  }

  &__title {
    margin-bottom: space(8);
    text-transform: uppercase;
  }

  &__image {
    text-align: right;
    overflow: hidden;

    @include for-phone-only {
      margin-top: space(16);
      text-align: left;
    }

    img {
      object-fit: contain;
      width: 170px;
      height: auto;
    }
  }
}
